<ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button button-clear button-assertive ion-ios-arrow-back header-item"> Back</ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-assertive" ng-click="logout()">Logout</button>
    </ion-nav-buttons>
</ion-nav-bar>
<ion-tabs class="tabs-stable tabs-striped tabs-color-assertive">
    <!-- Dashboard Tab -->
    <ion-tab title="Home" icon="icon ion-home" href="#/buyer/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- View Orders Tab -->
    <ion-tab title="Create Order" icon="icon ion-bag" ng-click="createOrderTabSelected()">
        <ion-nav-view name="tab-order"></ion-nav-view>
    </ion-tab>
    <!--&lt;!&ndash; Account Tab &ndash;&gt;-->
    <!--<ion-tab title="Account" icon="icon ion-gear-b" href="" disabled="true">-->
        <!--<ion-nav-view name="tab-account"></ion-nav-view>-->
    <!--</ion-tab>-->
    <!-- Other Views Tab-->
    <ion-tab title="Account" icon="icon ion-gear-b" href="" hidden="true">
        <ion-nav-view name="others"></ion-nav-view>
    </ion-tab>
</ion-tabs>