<ion-view title="Create Color">
    <ion-content>
        <form class="list">
            <div class="card">
                <ion-list>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Color Name</span>
                        <input type="text" placeholder="Color Name" ng-model="color.name">
                    </label>
                </ion-list>
                <div class="row">
                    <div class="col col-center">
                        <a href="" ng-click="createColor()" class="button button-full button-large button-assertive">Create</a>
                    </div>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>