<ion-view title="Home">
    <ion-content>
        <div class="">
            <div class="row-center new-bb ">
                <div class="form_logo2 ">
                    <img src="images/logo-ico.png">
                </div>
                <div class="padding1">Welcome {{name}}   </div>
            </div>
            <div class="row row-center padding3">
                <div class="col col-33 text-center ">
                    <a class="button button22 blue-ui" href="#/app/orders"><i class="ion-ios-list f-b"></i>ORDERS</a>
                </div>
                <div class="col col-33 text-center ">
                    <a class="button button22 orange-ui" href="#/app/all-buyers"><i class=" ion-person f-b"></i>BUYER</a>
                </div>
                <div class="col col-33 text-center ">
                    <a class="button button22 pink-ui"  href="#/app/all-products"><i class=" ion-ios-pricetag f-b"></i>PRODUCT</a>
                </div>
            </div>
            <div class="row row-center padding3">
                <div class="col col-33 text-center ">
                    <a class="button button22 green-ui" href="#/app/all-categories" ><i class="ion-ios-albums f-b"></i>CATEGORY</a>
                </div>
                <div class="col col-33 text-center ">
                    <a class="button button22 red-ui" href="#/app/all-colors"><i class=" ion-wand f-b"></i>COLOR</a>
                </div>
                <div class="col col-33 text-center ">
                    <a class="button button22 purple-ui"  href="#/app/settings"><i class=" ion-gear-b f-b"></i>SETTINGS</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

