<ion-view title="Settings">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#/app/role">
                <i class="icon ion-person"></i>
                Create Buyer
            </a>
            <a class="item item-icon-left" href="#/app/addUserToRole">
                <i class="icon ion-link"></i>
                Create User for Buyer
            </a>
            <a class="item item-icon-left" href="#/app/createCategory">
                <i class="icon ion-ios-albums"></i>
                Create Category
            </a>
            <a class="item item-icon-left" href="#/app/createColor">
                <i class="icon ion-wand"></i>
                Create Color
            </a>
            <a class="item item-icon-left" href="#/app/addProduct">
                <i class="icon ion-ios-pricetag"></i>
                Add Product
            </a>
            <a class="item item-icon-left" href="#/app/addColorToProduct">
                <i class="icon ion-android-color-palette"></i>
                Add Colour to Product
            </a>
        </div>
    </ion-content>
</ion-view>
